<!DOCTYPE html>
<html>
<head>
  <title>Martin Console</title>
  <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
		<li><%= link_to('Сообщения', admin_messages_path) %></li>
		<li><%= link_to('Слайды', admin_slides_path) %></li>
	</ul>
<%= yield %>

</body>
</html>
